name: Deploy to EC2

on:
  push:
    #    branches: [ main ]
    branches: [ deploy/githubaction ]
  workflow_dispatch:

name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 (run deploy.sh)
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /home/ubuntu/workspace/upstage-network-lecture
            chmod +x deploy.sh
            ./deploy.sh
